@media (max-width: 390px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-size: auto;
        display: flex;
        flex-direction: column;
    }

    .header img {
        width: 50%;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero img {
        width: 100%;
    }

    .hero .info {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .hero .info h2 {
        font-size: 20px;
    }

    .footer {
        align-self: center;
    }
}